/* HTML Selector based Styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* Combined header and footer font-family into one style listing */
header, footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Styles for the header section */
header {
    padding: 20px;   
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

/* Navigation styles */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    /* Different font family than the font used in header. Had to define it here to override the inheritance. */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Main section styles */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Styles for the sections of the Main section */
main section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
    color: #ffffff;
}

main section img {
    max-height: 200px;
}

main section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Styles for the Aside section (sidebar) */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}

/* Styles for each article section of the aside section */
aside article {
    margin-bottom: 32px;
    color: #ffffff;
}

aside article h3 {
    margin-bottom: 10px;
    text-align: center;
}

aside article img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Footer styles */
footer {
    padding: 30px;
    clear: both;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}


/* Helper classes for styles */

/* Hero class to define the large image after the header section */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* The float-left and float-right classes are used in the main section to arrange the images to the left or to the right of the text */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}